---
---
@import "boilerplate";
@import "manpage";
@import "depau";
@import "opendyslexic";

[class^="remixicon-"]::before {
    vertical-align: bottom;
}

// Cookie Consent
div.cc-window {
    font-family: "Nanum Gothic Coding", monospace;
}
