---
layout: default
title: Cookies
permalink: /cookies
man_section: "<emoji>🍪</emoji>"
---

<h1>Name</h1>

<section id="cookies-name" class="indent">
    Cookies <emoji>🍪</emoji> - <em>*.depau.{eu,gay}</em> cookie policy
</section>

<h1>Description</h1>

<section id="cookies-description" class="indent">
    <p>
        This website uses cookies.
    </p>
    <p>
        Cookies are pieces of information sent by the webserver hosting this website that are stored in web browsers.
        Stored cookies can then later be retrieved by the webserver when the users visits the website again.
    </p>
</section>

<h1>Usage</h1>

<section id="cookies-usage" class="indent">
    <p>
        I use cookies because I'm nosy and I want to know what the hell you're doing on my website. <emoji>👃</emoji>
    </p>
    <p>
        Tracking is performed by my self-hosted Matomo installation at
        <a href="https://analytics.depau.eu">analytics.depau.eu</a>.
    </p>
</section>

<h1>Blog comments</h1>

<section id="blog-comment-cookies" class="indent">
    <p>
        Comments on <a href="https://blog.depau.eu">my blog</a> are provided by <a href="https://utteranc.es/">utterances</a>.
    </p>
    <p>
        At the time of writing this page, utterances uses one cookie to store the GitHub API token. Since the comments are
        posted <a href="https://github.com/Depau/blog.depau.eu/issues">on GitHub</a>, GitHub's privacy policy also applies.
    </p>

    <ul>
        <li><a href="https://github.com/utterance/utterances/blob/master/PRIVACY-POLICY.md">Utterances privacy policy</a></li>
        <li><a href="https://docs.github.com/en/github/site-policy/github-privacy-statement">GitHub privacy policy</a></li>
    </ul>
</section>

<h1>How to opt-out</h1>

<section id="cookies-turn-off" class="indent">
    <p>
        If you don't want me to see what you're doing on *.depau.{eu,gay}, I understand. If I were you I wouldn't want me to
        know what I were doing either.
    </p>
    <p>
        You have two options:
    </p>
    <ul>
        <li class="multiline">
            Turn on the "Do Not Track" feature of your browser<br>
            This will also turn off tracking for many websites that respect your privacy like this one.
        </li>
        <li class="multiline">
            Opt-out from my analytics by using the form below
        </li>
    </ul>

    <h2>Note</h2>
    <div class="indent">
        <p>
            The form is provided directly by my analytics software, which is not always online. If you don't see it, it
            may be down, or you may be running an ad-blocker (so you're not being tracked anyway).
        </p>
        <p>
            Turning on Do Not Track always works.
        </p>
    </div>

    <h2>Opt-out form</h2>

    <div class="indent">
        <iframe
            style="border: 1px dotted white; height: 250px; width: 100%;"
            src="https://analytics.depau.eu/index.php?module=CoreAdminHome&action=optOut&language=en&backgroundColor=141021&fontColor=f8f8f2&fontSize=12pt&fontFamily=%22Nanum%20Gothic%20Coding%22%2Cmonospace"
        ></iframe>
    </div>
</section>

<h1>See also</h1>

<section id="see-also" class="indent">
    <p>
        <strong><a href="https://www.cookiesandyou.com/" target="_blank" rel="noopener">cookies&you</a></strong>(<emoji>🍪</emoji>)
    </p>
    <p>
        You may want to check out Cookies &amp; You, a website that explains how to disable cookies and what they are for.
    </p>
</section>
