<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} « {% endif %}{{ site.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="cf-2fa-verify" content="36367b49769f3ee">
    <meta name="keywords" content="accent, {{ site.author }}, {{ site.title }}, jekyll">
    <meta name="author" content="{{ site.author }}">
    {% if page.url == "/404.html" %}
    <meta http-equiv="refresh" content="5; url=/">
    {% endif %}
    {% if page.description %}
    {% assign desc = page.description %}
    {% else %}
    {% assign desc = site.description %}
    {% endif %}
    {% if page.url %}
    {% assign url = site.url | append: site.baseurl | append: page.url %}
    {% else %}
    {% assign url = site.url | append: site.baseurl | append: page.url %}
    {% endif %}
    <meta name="description" content="{{ desc }}">

    {% if site.favicon %}
    <link rel="icon" type="image/ico" href="{{ site.favicon_location }}">
    <link rel="shortcut-icon" type="image/ico" href="{{ site.favicon_location }}">
    {% endif %}

    <!-- Facebook Open Graph -->
    <meta name="og:description" content="{{ desc }}">
    <meta name="og:title" content="{{ site.title }}">
    <meta name="og:url" content="{{ url }}">
    <meta name="og:type" content="article">
    {% if site.og_image %}
    <meta name="og:image" content="{{ site.og_image }}">
    {% endif %}

    {% if site.theme_color %}
    <meta name="theme-color" content="{{ site.theme_color }}">
    {% endif %}

    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description" content="{{ desc }}">
    <meta name="twitter:url" content="{{ url }}">

    <link rel="manifest" href="/site.webmanifest">
    <!--  <link rel="apple-touch-icon" href="icon.png">-->
    <!-- Place favicon.ico in the root directory -->

    <link href='https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/css/normalize.css?v={{ site.v }}">
    <link rel="stylesheet" href="/css/remixicon/remixicon.css?v={{ site.v }}">
    <link rel="stylesheet" href="/css/main.css?v={{ site.v }}">


    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function(){
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#f8f8f2",
                        "text": "#141021"
                    },
                    "button": {
                        "background": "#ae81ff",
                        "text": "#f8f8f2"
                    }
                },
                "theme": "edgeless",
                "position": "bottom-right",
                "content": {
                    "message": "This website uses cookies for anonymized traffic analytics.",
                    "link": "Cookie policy and opt-out",
                    "href": "https://depau.eu/cookies"
                }
            })});
    </script>
</head>

<body>
<!--[if IE]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->

<div {% if site.dotgay %} class="lolcat" {% endif %}>
    {{ content }}
</div>

    <script type="text/javascript" src="/js/jquery-3.4.1.min.js?v={{ site.v }}"></script>
    <script type="text/javascript" src="/js/manpage.js?v={{ site.v }}"></script>
    <script type="text/javascript" src="/js/opendyslexic.js?v={{ site.v }}"></script>
</body>

</html>
